<div>
    <div class="col">
        <div class="container" id="container">
            <div class="form-container sign-in-container">
                <form>
                    <img width="150px" src="../assets/images/logo.png">
                    <h1>Sistema de Gestión de Solicitudes</h1>
                    <input id="username" type="text" placeholder="Usuario" required formControlName="username">

                    <input id="password" type="password" placeholder="Contraseña" required formControlName="password">
            
                    <button pButton type="submit" class="p-button-raised p-button-rounded" label="Iniciar Sesión"></button>
                </form>
            </div>
        </div>
    </div>
</div>