#background-logged {
    margin: 20% 0% 0% 5% ;
    width: 90%;
    height: 60%;
    position: absolute;
}

#background-logged img { 
    width: 90%;
    height: 70%;
}

#menubar {
    background-color: white;
}

#salir{
    color: #174B1C;
    background-color: transparent;
    border-color: transparent;
    box-shadow: transparent;
}