<div class="card">
    <h1>
        Sistema de Gestión <br>
        de Solicitudes
    </h1>

    <button id="nuevas" pButton pRipple type="button" label="Nuevas Funcionalidades" class="p-button-success"
    onclick="window.location.href='https://dev.azure.com/PTI-PY/Gesti%C3%B3n%20de%20nuevas%20Funcionalidades%20y%20Soportes%20T%C3%A9cnicos/_boards/board/t/Kanban/Nuevas%20funcionalidades';"
    ></button>  
    <button id="soporte" pButton pRipple type="button" label="Soporte" class="p-button-success"
    onclick="window.location.href='https://dev.azure.com/PTI-PY/Gesti%C3%B3n%20de%20nuevas%20Funcionalidades%20y%20Soportes%20T%C3%A9cnicos/_boards/board/t/Kanban/Soportes';"
    ></button>  
    <button id="informe" pButton pRipple type="button" label="Informe" class="p-button-success"
    ></button>  

</div>